body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: auto;
    background-image: url(Flammarion.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 23%;
    color: white;
    background-color: rgba(46, 49, 49, 0.7);
}

#title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-stretch: expanded;
    font-size: 30px;
}

#description {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    margin: 10%;
    position: relative;
}

#survey-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5%;
}